@import "tailwindcss";

@theme {
    --color-gractwo-red: #fb636b;
    --color-gractwo-red-semidark: #cc4f55;
    --color-gractwo-red-dark: #b2454b;
    --color-gractwo-blu: #61f2ea;
    --color-gractwo-blu-semidark: #47b2ad;
    --color-gractwo-blu-dark: #3d9994;
}

.bg-gractwo-index-light {
    background-size: "100% 100%";
    background-image: radial-gradient(
        125% 125% at 50% 90%,
        #ffffff 40%,
        #ff637e 120%
    );
}
